* {
	box-sizing: border-box;
}
body {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6;
	margin: 0;
	min-height: 100vh;
	background-color: #EDE6F2;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.logo {
	margin: 0;
	margin-top: 0;
}

.main-nav {
	margin-top: 5px;
	
}
.logo a,.main-nav a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}

.main-nav a {
	color:rgb(255, 255, 255);
	font-weight: 600;
	text-decoration: none;
}

.main-nav a:hover {
	color: #ca0000;
}
.dropbtn {
    background-color: transparent;
	margin: 10px;
    padding: 0px;
    width: 50px;
	margin-right: 50px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
 
  .dropdown1 {
    display: none;
    position: absolute;
    background-color: rgb(68, 29, 29);
    font-size: 15px;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(218, 218, 218, 0.2);
    z-index: 1;
	border-radius: 5px;
  }
  

  .dropdown1 a {
    color: rgb(110, 89, 89);
    padding: 0px;
    text-decoration: none;
    display: block;
  }

  .dropdown1 a:hover {
	background-color: #e98383
}
  
  
  .dropdown:hover .dropdown1 {
    display: block;
  }


.header {
	width: 100vw;
	height: 70px;
	background-color: #222E50;
}
.profile{


	display:flex ;
	align-items: flex-start;
	justify-content: flex-start;
}

.pic{
	
	margin-left:15px;
	margin-top: 10px;
	width: 35px;
	cursor: pointer;
}
.uname{
	color: rgb(0, 0, 0);
	height: 25px;
	cursor: pointer;
	margin-top: 15px;
}
p{
	color: rgb(0, 0, 0);
	font-size: 20px;
	padding-left: 10px;
}


.body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EDE6F2;
}
.inner{
    display: flex;
	align-items: center;
	justify-content:flex-start;
    flex-direction: column;
	width: 1050px;
	height: 900px;
	margin: 50px 0px 35px 25px;
	border-radius: 15px;
	background-color: #0072BB;
	padding: 30px;
    border: #ffffff solid 1px;
    
}
  .box1{
	display: flex;
	align-items: center;
	justify-content: center;
    flex-direction: column;
  }

  .icon{
    font-weight: 900;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 15px;
    margin-right: 840px;
    margin-bottom: 50px;
 }

.name{
    margin-bottom: 20px;
    
}
.check{
    margin-bottom: 20px;
}

 .form{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
 }
table tr th{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
 .post .postbtn{
    background: rgb(0, 18, 175);
    color: rgb(195, 196, 196);
    width: 100px;
    height: 30px;
    cursor: pointer;
	border-radius: 6px;
 }
 
 .post .postbtn:hover{
	background: rgb(34, 135, 249);
 }

 @media (min-width: 769px) {
	.header,
	.main-nav {
		display: flex;
	}
	.header {
		flex-direction: column;
		align-items: center;
		width: 100%;
		margin: 0 auto;
		max-width: 2000px;
	}


}

@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}

}