* {
	box-sizing: border-box;
}
body {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6;
	margin: 0;
	min-height: 100vh;

}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.logo {
	margin: 0;
	margin-top: 0;
}

.main-nav {
	margin-top: 5px;
	
}
.logo a,.main-nav a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}

.main-nav a {
	color:rgb(37, 0, 0);
	font-weight: 600;
	text-decoration: none;
}

.main-nav a:hover {
	color: #ca0000;
}
.dropbtn {
    background-color: transparent;
	margin: 10px;
    padding: 0px;
    width: 50px;
	margin-right: 50px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
 
  .dropdown1 {
    display: none;
    position: absolute;
    background-color: rgb(68, 29, 29);
    font-size: 15px;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(218, 218, 218, 0.2);
    z-index: 1;
	border-radius: 5px;
  }
  

  .dropdown1 a {
    color: rgb(110, 89, 89);
    padding: 0px;
    text-decoration: none;
    display: block;
  }

  .dropdown1 a:hover {
	background-color: #e98383
}
  
  
  .dropdown:hover .dropdown1 {
    display: block;
  }


.header {
	width: 100vw;
	height: 70px;
	border: 1px solid rgb(68, 29, 29);
	background-image: linear-gradient(to right, rgb(248, 192, 140) , rgb(241, 169, 121));
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);

}
.profile{


	display:flex ;
	align-items: flex-start;
	justify-content: flex-start;
}

.pic{
	
	margin-left:15px;
	margin-top: 10px;
	width: 35px;
	cursor: pointer;
}
.uname{
	color: rgb(0, 0, 0);
	height: 25px;
	cursor: pointer;
	margin-top: 15px;
}
p{
	color: rgb(0, 0, 0);
	font-size: 20px;
	padding-left: 10px;
}
.body{
    display: flex;
    align-items: center;
    justify-content: center;
	background-image: url(../Src/userback\ \(2\).jpg);
	height:100vh;
}

  .row1{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
  }

  .row2{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: -50px;
	width: 100%;
	height: 100%;
  }

  .box{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 280px;
	height: 180px;
	margin: 70px 25px;
	border-radius: 10px ;
	border: solid 2px rgb(56, 12, 12);
	background-image: radial-gradient(circle, rgb(247, 247, 215), rgb(207, 194, 157), rgb(252, 212, 152));
  }
  
.box:hover{
	cursor: pointer;
	transform: scale(1.1);
	transition-duration: 1s;
}
button{
	border:0px;
	border: radius 50%;
	background-color: transparent;
	
  }
  .text a{
	text-decoration:none;
	font-family:auto;
	color:rgb(112, 0, 0);
  }
  .text a:hover{
	color:rgb(0, 0, 0);
  }
 
 .text{
	font-family: Ubuntu;
	font-size: 25px;
	font-weight: 900;
 }
 .tip{
	width: 50px;
 }

.image{
	width:20%;
	align-items: center;
	justify-content: center;	
	padding-left: 20px;
}

@media (min-width: 769px) {
	.header,
	.main-nav {
		display: flex;
	}
	.header {
		flex-direction: column;
		align-items: center;
		width: 100%;
		margin: 0 auto;
		max-width: 2000px;
	}


}

@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}

}
