* {
	box-sizing: border-box;
}
body {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6;
	margin: 0;
	min-height: 100vh;
	background-color: #EDE6F2;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.logo {
	margin: 0;
	margin-top: 0;
}

.main-nav {
	margin-top: 5px;
	
}
.logo a,.main-nav a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}

.main-nav a {
	color:rgb(255, 255, 255);
	font-weight: 600;
	text-decoration: none;
}

.main-nav a:hover {
	color: #ca0000;
}
.dropbtn {
    background-color: transparent;
	margin: 10px;
    padding: 0px;
    width: 50px;
	margin-right: 50px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
 
  .dropdown1 {
    display: none;
    position: absolute;
    background-color: rgb(68, 29, 29);
    font-size: 15px;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(218, 218, 218, 0.2);
    z-index: 1;
	border-radius: 5px;
  }
  

  .dropdown1 a {
    color: rgb(110, 89, 89);
    padding: 0px;
    text-decoration: none;
    display: block;
  }

  .dropdown1 a:hover {
	background-color: #e98383
}
  
  
  .dropdown:hover .dropdown1 {
    display: block;
  }


.header {
	width: 100vw;
	height: 70px;
	background-color: #222E50;
}



.pic{
	
	margin-left:15px;
	margin-top: 10px;
	width: 35px;
	cursor: pointer;
}
.uname{
	color: rgb(0, 0, 0);
	height: 25px;
	cursor: pointer;
	margin-top: 15px;
}
p{
	color: rgb(0, 0, 0);
	font-size: 20px;
	padding-left: 10px;
}


.backbtn a{
 text-decoration: NONE;
 color:#000000;

}

.inputs{
	border-radius: 7px;
	background-color:#dad9d9;
	width: 250px;

}

 @media (min-width: 769px) {
	.header,
	.main-nav {
		display: flex;
	}
	.header {
		flex-direction: column;
		align-items: center;
		width: 100%;
		margin: 0 auto;
		max-width: 2000px;
	}


}

@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}

}

  .box:hover{
	  cursor: pointer;
	  transform: scale(1.1);
	  transition-duration: 1s;
  }
  button{
	  border:0px;
	  border: radius 50%;
	  background-color: transparent;
	  
	}
	.text a{
	  text-decoration:none;
	  font-family:auto;
	  color:rgb(112, 0, 0);
	}
	.text a:hover{
	  color:rgb(0, 0, 0);
	}
   
   .text{
	  font-family: Ubuntu;
	  font-size: 25px;
	  font-weight: 900;
   }
   .tip{
	  width: 50px;
   }
  
  .image{
	  width:10%;
	  padding-left: 50px;
	  align-items: center;
	  justify-content: center;}
	
.teaxarea{
	background:#fbecec;
	font-size:20px;
	margin:auto;
}
input[type="submit"]{
	
	padding:10px;
	font-size:20px;
	border: none;
    outline: none;
    margin: 0 20px 20px 20px;
    height: 40px;
    background-color: #ff4646;
    border-radius: 10px;
}
input[type="submit"]:hover{
    cursor: pointer;
    background:#ff0000;
    color:black;
}

table{
	align-items: center;
	justify-content: center;
	margin-top: 40px;
	/* background-color: #0072BB; */
}


.content1{
	background-color: #EDE6F2;
	max-width: 450px;
	height: auto;
	margin:auto;
	margin-top: 50px;
}

select{
	margin-bottom: 20px;
}

#selectid{
	font-weight: bold;
}